<h6 class="_backlink"><a routerLink=''>Back to home</a></h6>

  <div class="parent">
    <div></div>
    <div class="div1">
      <h1 class="headline">Who stole the show this week at London's Annual 'Bobby Fischer' chess tournament?</h1>
      <br>
      <small class="author"><strong>By:&nbsp;Zach Alexander</strong></small><br>
      <small class="author"><small class="timing">September 15th, 2019 at 10:07AM EST</small></small>
    </div>
    <div></div>
  </div>
  <br>

  <div class="parent">
    <div></div>
    <div class="headline_image">
      <img class="chess" src="../assets/chess-pieces.jpg" alt="chess pieces">
    </div>
    <div></div>
  </div>

  <br>
  <br>

  <div class="parent">
    <div></div>
    <div class="summary">
      <small class="author">(This is a mock news story for the first project in my DATA 607
        graduate school course.)
      </small>
      <br>
      <br>
      <p>London was bustling this week as thousands of excited fans flocked to
        the annual Bobby Fischer chess tournament. After much anticipation going into
        the week, one player in particular was stealing the headlines.
      </p>
      <p><strong>Gary Hua</strong>, a native to Vancouver, had been unstoppable going into the week. With a pre-tournament
      elo rating of 1794, which surpassed all others in the field, he would be a tough opponent to beat.
      </p>
      <p>Those immediately following behind him on the leaderboard also showed promise, including the young
        19 year-old phenom, <strong>Patrick Schilling</strong>. Raised from a modest upbringing, he's been touted as one of the
        most exciting new players to enter the field.
      </p>
      <p>Although both of these players had promising outlooks, #2 ranked <strong>Loren Schwiebert</strong> had an advantage when it
        came to strength of schedule. From the chart below you can see that Loren's opponents going into
        the tournament had a much lower average pre-tournament elo rating than the opponents of Gary Hua or
        Patrick Schilling.
      </p>
    </div>
    <div></div>
  </div>


<br>
<br>

  <div class="parent_tb">
    <div></div>
      <table id="dtBasicExample" class="table table-striped table-sm" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th scope="col">Player Name</th>
            <th scope="col">Pre-rating</th>
            <th scope="col">Average Opponent Ranking</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let player of topPlayers">
            <td>{{player.player_name}}</td>
            <td>{{player.player_pre_rating | number : '1.0-0'}}</td>
            <td *ngIf="player.average_opp_rating < 1365" class="table-info">{{player.average_opp_rating | number : '1.0-0'}}</td>
            <td *ngIf="player.average_opp_rating > 1365">{{player.average_opp_rating | number : '1.0-0'}}</td>
          </tr>
        </tbody>
      </table>
    <div></div>
  </div>

<br>
<br>


  <div class="parent">
    <div></div>
    <div>
    <p>Will <strong>Loren Schwiebert</strong> be able to capitalize?
      Will it be another favorable week for Gary Hua? There are so many questions leading into this year's
      tournament. Stay with us for an update at the end of match play.
    </p>
    </div>
    <div></div>
  </div>


<br>
<br>

  <div class="parent">
    <div></div>
    <div class="container">
      <h4><strong>Post-tournament results</strong></h4>
      <small class="timing"><small class="update">Update</small>: September 22nd, 2019 at 11:47 AM EST</small>
      <br>
      <br>
      <p>
        After a hard-fought chess tournament, let's take a look at who boosted
        their elo rating the most over the course of the 7 games. As you can see before clicking the button,
        our top competitors of Gary Hua and Loren Schwiebert sat atop the leaderboard.
      </p>
        <p>
        However, by clicking the button below, you can see what happend to each player's elo ratings.
        </p>
      <br>
      <div class="button_holder">
        <button *ngIf="!clicked" type="button" class="btn btn-light" (click)="addPointChange()">See +/- change</button>
        <button *ngIf="clicked" type="button" class="btn btn-light" (click)="removePointChange()">Remove +/- change</button>
      </div>
    </div>
    <div></div>
  </div>




    <div class="div2" align="center">
      <svg class='chart'></svg>
    </div>


  <div class="parent">
    <div></div>
      <div class="summary">
          <p>
            From the chart above, you can see that some players outperformed expectations, boosting their
            elo ratings quite a bit. <strong>Jacob Lavalley</strong> had a huge week. Coming into the tournament
            as the player with the lowest elo rating, he fought hard against some big contenders, including one of the world's
            top players, <strong>Gary Dee Swathell</strong>, in game 2. Other players that had a big week are below,
            including hometown London favorite, <strong>Zachary Houghton</strong>.
          </p>
      </div>
    <div></div>
  </div>

<br>
<br>


  <div class="parent_tb">
    <div></div>
    <table id="dtBasicExample" class="table table-striped table-sm" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th scope="col">Player Name</th>
          <th scope="col">Pre-rating</th>
          <th scope="col">Post-rating</th>
          <th scope="col">Average Opponent Ranking</th>
          <th scope="col">Elo Rating Change</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of topFiveImprove">
          <td>{{player.player_name}}</td>
          <td>{{player.player_pre_rating | number : '1.0-0'}}</td>
          <td>{{player.player_post_rating | number : '1.0-0'}}</td>
          <td>{{player.average_opp_rating | number : '1.0-0'}}</td>
          <td *ngIf="player.rating_difference < 0" class="table-danger">{{player.rating_difference}}</td>
          <td *ngIf="player.rating_difference >= 0" class="table-success">+{{player.rating_difference}}</td>
        </tr>
      </tbody>
    </table>
    <div></div>
  </div>

  <br>
<br>


  <div class="parent">
    <div></div>
      <div class="summary">
        <p>
          On the flipside, you can see that some players had a dreadful week. The pieces just weren't falling into
          place for <strong>Chiedozie Okorie</strong>, who lost 94 points off of her elo rating. Also, one of the
          world's top players, <strong>Loren Schwiebert</strong>, would like to forget this year's performance, after
          dropping 64 points off of her pre-tournament elo rating -- 5th worst of the players in the tournament. She was
          hoping to take advantage of the strength of schedule, but the rooks just weren't in her favor.
        </p>
      </div>
    <div></div>
  </div>

  <br>
<br>


  <div class="parent_tb">
    <div></div>
    <table id="dtBasicExample" class="table table-striped table-sm" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th scope="col">Player Name</th>
          <th scope="col">Pre-rating</th>
          <th scope="col">Post-rating</th>
          <th scope="col">Average Opponent Ranking</th>
          <th scope="col">Elo Rating Change</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of bottomFiveDecline">
          <td>{{player.player_name}}</td>
          <td>{{player.player_pre_rating | number : '1.0-0'}}</td>
          <td>{{player.player_post_rating | number : '1.0-0'}}</td>
          <td>{{player.average_opp_rating | number : '1.0-0'}}</td>
          <td *ngIf="player.rating_difference < 0" class="table-danger">{{player.rating_difference}}</td>
          <td *ngIf="player.rating_difference >= 0" class="table-success">+{{player.rating_difference}}</td>
        </tr>
      </tbody>
    </table>
    <div></div>
  </div>

  <br>
<br>


  <div class="parent">
    <div></div>
    <div class="summary">
      <p>
      As expected, the tournament did not disappoint. Tune into our reporting again next time, when the tournament
      is played back in Bobby Fischer's hometown of Chicago, Illinois.
      </p>
    </div>
    <div></div>
  </div>

  <br>
<br>


  <div class="parent">
    <div></div>
    <div class="summary_final">
      <small class="further_resources">The data for this mock news story was generated from a raw text file that had to go through a fair amount of data wrangling and manipulation.
        To view this work, check out my RPubs file.</small>
        <br>
        <br>
        <button type="button" class="btn btn-outline-primary"><a href="https://rpubs.com/zachalexander/proj1" target="_blank">RPubs File</a></button>
    </div>
    <div></div>
  </div>

<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Hire Me</h5>
          <p>I'm available for freelance work and full-time employment.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Find my work on</h5>
          <ul>
            <li><a href="#!">Github</a></li>
            <li><a href="#!">Medium</a></li>
            <li><a href="#!">RPubs</a></li>
            <li><a href="#!">Twitter</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
       © 2020 Zach Alexander. All rights reserved.
      </div>
    </div>
</footer>
