<nav (scroll)="onWindowScroll($event)" *ngIf="mobile" class="navigation-mobile">
  <div class="nav-wrapper">
    <a href="/"><h5 class="name">Back to home</h5></a>
    <div class="button-wrapper">
      <a href="mailto:alexander.d.zachary@gmail.com?Subject=Your%20Portfolio" class="btn-floating btn-small waves-effect waves-light white navs"><i class="fa fa-envelope"></i></a>
      <a href="https://github.com/zachalexander" target="_blank" class="btn-floating btn-small waves-effect waves-light white navs"><i class="fab fa-github"></i></a>
    </div>
  </div>
</nav>

<nav (scroll)="onWindowScroll($event)" *ngIf="!mobile">
    <div class="nav-wrapper">
      <a href="/"><h5 class="name">Back to home</h5></a>
      <div class="button-wrapper">
        <a href="mailto:alexander.d.zachary@gmail.com?Subject=Your%20Portfolio" class="btn-floating btn-small waves-effect waves-light white navs"><i class="fa fa-envelope"></i></a>
        <a href="https://github.com/zachalexander" target="_blank" class="btn-floating btn-small waves-effect waves-light white navs"><i class="fab fa-github"></i></a>
      </div>
    </div>
</nav>
