@import './../../../styles.scss';

nav {
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  z-index: 1;
  color: #333;
}


.nav-wrapper {
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .name {
      justify-content: center;
      align-items: center;
      text-align: center;
      font-family: 'Playfair Display', 'Arial', sans-serif;
      font-weight: 700;
      margin: 0.25em 0 0.5em 0 !important;
    }

    .button-wrapper {
      display: flex;
      flex-direction: row;
    }
  }
  
  nav.navigation-mobile {
    height: 50px;
  
    .nav-wrapper {
      height: 50px;
    }
  }
  
  .nav-wrapper.nav-wrapper-light {
    background-color: #fff;
    border-bottom: 2px solid #333;
    height: 50px;
    z-index: 100;
}


.navs {
    i {
      width: initial !important;
      vertical-align: baseline !important;
      line-height: 51px !important;
    }
  }
  
  .btn-floating.btn-small.waves-effect.waves-light.navs {
    border: 2px solid #333;
    background-color: transparent !important;
    margin-right: 12px;
    margin-bottom: 5px;
    box-shadow: none !important;
  
    i {
      line-height: 25px !important;
    }
    z-index: 1;
  }
  
  .btn-floating.waves-effect.waves-light.top {
    border: 3px solid #333;
    background-color: transparent !important;
    z-index: 1;
    box-shadow: none !important;
  }