
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Get in touch</h5>
        <p>I'm interested in learning more about your ideas!</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Find my work on</h5>
        <ul>
          <li><a href="#!">Github</a></li>
          <li><a href="#!">Medium</a></li>
          <li><a href="#!">RPubs</a></li>
          <li><a href="#!">Twitter</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
     © 2020 Zach Alexander. All rights reserved.
    </div>
  </div>
</footer>