.page-footer {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    * {
      color: #333 !important;
    }

    .social_list {
      display: flex;
      flex-direction: row;
    }

    li {
      margin-right: 1em;
    }

    .white-text {
      font-size: 1em;
      font-weight: 700;
    }

    .footer-copyright {
      font-size: 0.85em;
      font-weight: 700;
    }
  }


  