<nav (scroll)="onWindowScroll($event)" *ngIf="mobile" class="navigation-mobile">
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="left">
        <a class="btn-floating btn-small waves-effect waves-light white navs"><i class="fa fa-envelope"></i></a>
    </ul>
    <ul id="nav-mobile" class="right">
        <a class="btn-floating btn-small waves-effect waves-light white navs"><i class="fab fa-github"></i></a>
    </ul>
  </div>
</nav>

<nav (scroll)="onWindowScroll($event)" *ngIf="!mobile">
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left">
          <a class="btn-floating btn-large waves-effect waves-light white navs"><i class="fa fa-envelope"></i></a>
      </ul>
      <ul id="nav-mobile" class="right">
          <a class="btn-floating btn-large waves-effect waves-light white navs"><i class="fab fa-github"></i></a>
      </ul>
    </div>
</nav>
