@import './../../../styles.scss';

nav {
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  z-index: 1;
}


.nav-wrapper {
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .name {
      justify-content: center;
      align-items: center;
      text-align: center;
      font-family: 'Playfair Display', 'Arial', sans-serif;
      font-weight: 900;
      color: #ddd;
    }

    .button-wrapper {
      display: flex;
      flex-direction: row;

      .btn-floating.btn-small.waves-effect.waves-light.navs {
        border: 2px solid #ddd;
        background-color: transparent !important;
        margin-right: 12px;
        margin-bottom: 5px;
        box-shadow: none !important;
      
        i {
          line-height: 25px !important;
          color: #ddd !important;
        }

        z-index: 1;
      }
    }
  }
  
  nav.navigation-mobile {
    height: 50px;
  
    .nav-wrapper {
      height: 50px;
    }
  }
  
.nav-wrapper.nav-wrapper-light {
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 50px;
    z-index: 100;

    .name {
      color: #ddd;
    }

    .button-wrapper {
      .btn-floating.btn-small.waves-effect.waves-light.navs {
        border: 2px solid #ddd !important;
        color: #ddd;
      
        i {
          line-height: 25px !important;
          color: #ddd !important;
        }
      }
    }

}


.navs {
    i {
      width: initial !important;
      vertical-align: baseline !important;
      line-height: 51px !important;
    }
  }
  
  .btn-floating.waves-effect.waves-light.top {
    border: 3px solid #ddd;
    background-color: transparent !important;
    z-index: 1;
  }