@import './../../../styles.scss';

.top-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.top {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ".";
  height: 100vh;
  align-items: center;
  margin: auto;

  .line1, .line2 {
    font-family: 'Gotu', 'Roboto', 'Arial', sans-serif;
  }

  button {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
}

.navigate {
  height: 300vh;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-top: 1px solid #333;

  .navigate_title {
    font-family: 'Gotu', 'Roboto', 'Arial', sans-serif;
    font-weight: 700;
    text-align: center;
    padding: 2em;
    height: 20vh;
    align-items: center;
    justify-content: center;
    display: flex;
  } 

  .project_title {
    font-weight: 700;
    max-width: 600px;
    width: 100vw;
    text-align: center;
    font-size: 1.5em;
    margin: 1em auto;
  }



  .navigate_trump {
    display: flex;
    flex-direction: column;

    a.trump_screenshot {
      margin: auto;
    }

    img.trump_screenshot {
      border: 1px solid #ddd;
      border-radius: 10px;
      margin: 1em auto;

      @include phone {
        width: 100vw;
      }
    }

    .project_summary_header {
      text-align: center;
      padding: 1em;
      margin: 0;
      font-size: 1.75em;
      font-weight: 700;
    }

    .project_description {
      text-align: center;
      width: 70%;
      line-height: 1.5em;
      font-size: 1.15em;
      margin: auto;

        @include phone {
          width: 90vw;
        }
    }


  }

  .navigate_specs_wrapper {
    height: 50vh;
    background-color: #fff;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    max-width: 900px;
    border: 1px solid #ddd;

    .navigate_specs {
      text-align: center;
      padding: 1em;
      margin: 0;
      font-size: 1.75em;
      font-weight: 700;
    }

    .navigate_specs_column {
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      width: 50%;
      vertical-align: middle;
      height: 100%;
      width: 50%;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      background:#fff;
    }

    .navigate_specs_explainer {
      text-align: center;
      width: 70%;
      line-height: 1.5em;
      font-size: 1.15em;
    }
  }

  .logos {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: justify;
    background: #fff;
    vertical-align: middle;
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: center;
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

    @include phone {
      display: flex;
      flex-direction: column;
    }

    img {
      width: 5.5em;
      height: 5.5em;
    }

    .plus {
      padding: .5em;
      margin: 0;
      font-weight: 700;
      font-size: 2em;
    }
  }

  .projects {
    background-color: #fff;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    max-width: 900px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: row;
    height: 60vh;
    border: 1px solid #ddd;

    .projects_title {
      text-align: left;
      margin: 0;
      font-size: 1.75em;
      font-weight: 700;
    }

    p {
      text-align: center;
      font-size: 1.55em;
      padding: 2em 2.25em 0em 2.25em;
      line-height: normal;
      font-weight: 700;
      color: #5e626b;
    }

    .item {
      display: flex;
      flex-direction: row;
      font-size: 0.75em;
      align-items: center;
      margin: 2em 0em 1em 0em;

      p {
        text-align: left;
        padding:0;
        margin:0;
      }

      i {
        color: #bbb;
        margin-right: 1em;
      }
    }

  }
}

.mid1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 150vh;
  align-items: center;
  background: #333;
  background: -webkit-linear-gradient(to right, #222, #333);
  background: linear-gradient(to right, #222, #333);

  h2, h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    font-weight: 700;
    font-family: 'Gotu', 'Roboto', 'Arial', sans-serif;
    padding: 10px;
    text-align: center;
  }

  @include phone {
    height: 240vh;
  }
}

.mid1-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;

  .medium-logo {
    img {
      max-width: 250px;
      height: 3em;
    }
  }
  h2 {
    margin: 0;
    color: #ddd;
    border-color: #ddd;
  }
}

.mid1-right {
  background-color: rgba(255,255,255,1);
  background: filter-gradient(#ffffff, #ededed, horizontal);
  width: 80%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1em;

  @include phone {
    width: 100%;

    img {
      width: 100%;
      margin-bottom: 1.25em;
    }
  }

  .medium-posts {
    margin: 1em;
  }

  .tds_title {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 80px;
      max-height: 80px;
    }
  }

  h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    padding: 10px;
    text-align: center;
    font-family: 'Gotu', 'Roboto', 'Arial', sans-serif;
    font-weight: 700;
  }


.medium-widget-article__grid {
  display: flex;
  flex-direction: row;
  align-items: center;

  @include phone {
    display: flex;
    flex-direction: column;
    padding: 1em;

    .medium-widget-article__title {
      text-align: left;
    }

    .medium-widget-article__image {
      img {
        width: 95%;
        margin-bottom: 3em;
      }
    }
  }
}

  
.medium-widget-article__description {
  font-family: 'Roboto', Arial, sans-serif;
}

.medium-widget-article__title {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 700 !important;
}

.medium-widget-article__clap {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 700 !important;
}

.medium-widget-article__date {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 700 !important;
}

.medium-widget-article__image {
  margin-right: 1em !important;

  img {
    margin: 0;
  }
}

.state_title {
  text-align: center !important;
}

td {
  text-align: center !important;
}

}

.bottom {
  display: grid;

  h2, h5, p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    padding: 10px;
    text-align: center;
  }

  button {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  @include phone {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "."
                         ".";
    height: 150vh;
  }

  @include smalldevice {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "."
                         ".";
    height: 150vh;
  }

  @include meddevice {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "."
                         ".";
    height: 150vh;
  }


  @include lgdevice {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". .";
    height: 75vh;
  }

  @include xldevice {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". .";
    height: 100vh;
  }

}

.bottom-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.bottom-right {
  background: #333;
  background: -webkit-linear-gradient(to right, #222, #333);
  background: linear-gradient(to right, #222, #333);
  display: flex;
  align-items: center;
  justify-content: center;

  h2, h5, p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 10px;
    text-align: center;
  }

  @include phone {
    .email-form-wrapper {
      padding: 3em;

      .email-form {
        padding: 4em 0 0 0;
        max-width: 300px;
        margin: auto;
      }
    }
  }

  @include smalldevice {
    .email-form-wrapper {
      padding: 8em;

      .email-form {
        padding: 4em 0 0 0;
        width: 300px;
        margin: auto;
      }
    }
  }

  @include meddevice {
    .email-form-wrapper {
      padding: 14em;

      .email-form {
        padding: 4em 0 0 0;
        width: 300px;
        margin: auto;
      }
    }
  }

  @include lgdevice {
    .email-form-wrapper {
      padding: 0 30px 0 30px;

      .email-form {
        padding: 0;
        width: 300px;
        margin: auto;
      }
    }
  }

  @include xldevice {
    .email-form-wrapper {
      padding: 0 80px 0 80px;

      .email-form {
        padding: 0;
        width: 300px;
        margin: auto;
      }
    }
  }

}
