@import './../../../styles.scss';

@mixin phone {
  @media only screen and (max-width: 767px) {
    @content;
  }
}

body, nav {
  font-family: 'Lato', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  z-index: 1;
}

.nav-wrapper {
  padding-top: 10px !important;
}

nav.navigation-mobile {
  height: 50px;
  
  .nav-wrapper {
    height: 50px;
  }
}

.nav-wrapper.nav-wrapper-light {
  background-color: #fff;
  border-bottom: 2px solid #333;
  height: 75px;
  z-index: 100;
}

.top {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ".";
  height: 100vh;
  align-items: center;
  margin: auto;

  button {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  @include phone {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ".";
    height: 100vh;
  }

  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
  }
}

.top-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.navs {
  i {
    width: initial !important;
    vertical-align: baseline !important;
    line-height: 51px !important;
  }
}

.btn-floating.btn-large.waves-effect.waves-light.navs {
  border: 3px solid #333;
  background-color: transparent !important;
  z-index: 1;
}

.btn-floating.btn-small.waves-effect.waves-light.navs {
  border: 2px solid #333;
  background-color: transparent !important;
  
  i {
    line-height: 25px !important;
  }
  z-index: 1;
}

.btn-floating.waves-effect.waves-light.top {
  border: 3px solid #333;
  background-color: transparent !important;
  z-index: 1;
}

.navigate {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". . .";
  height: 100vh;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);

  @include phone {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "."
                         "."
                         ".";
    height: 300vh;
  }

  .work, .d3_misc, .cuny {
    background: #fff;
    height: 75%;
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .cuny_hover {
      display: none;
    }
  }

  .work_info, .d3_misc_info, .cuny_info {
    background: #fff;
    margin: 1em auto 1em auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    p {
      padding: 2em 1em 1em 1em;
      text-align: center;
      font-size: 2em;
      line-height: normal;
      font-weight: 700;
      color: #5e626b;
    }


    .plus {
      padding: 1em;
      margin: 0;
    }

    .button-org {
      display: flex;
      flex-direction: row;
    }

    .logos {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      img {
        height: 80px;
        width: 80px;
      }
    }

  }

  .work:hover, .d3_misc:hover, .cuny:hover {
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -ms-filter: blur(3px);
    -o-filter: blur(3px);
    filter: blur(3px);
    transform: scale(1.03);

    .cuny_hover + a, .cuny:hover {
      display: flex;
      align-content: center;
      z-index: 100;
    }
  }


}

.mid1 {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". .";
  height: 100vh;

  @include phone {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "."
                         ".";
    height: 200vh;
  }

    .mid1-left {
      background-image: url('../../../assets/bg2.jpg');
      background-size: cover;
    }

    .mid1-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #ECE9E6;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      

      button {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
      }
  }

  h2, h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    font-weight: 700;
    padding: 10px;
    text-align: center;
  }
}

.mid1-left {
  background-image: url('../../../assets/bg2.jpg');
  background-size: cover;
}

.mid1-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

  button {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

}


.mid2 {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". .";
  height: 100vh;

  @include phone {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "."
                         ".";
    height: 200vh;
  }

  h2, h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    font-weight: 700;
    padding: 10px;
    text-align: center;
  }
}

.mid2-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #333;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #222, #333);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #222, #333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

  @include phone {
    .medium-container {
      margin-top: 0px;
    }
  }

  .medium-container {
    margin-top: -150px;
  }

  .medium-logo {
    img {
      max-width: 300px;
      margin-top: 3em;
    }
  }

  button {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  h2 {
    margin: 0;
    color: #ddd;
    border-color: #ddd;
  }

  a, a:hover {
    color: #fff;
    border-color: #fff;
    margin: 3em 0em 2em 0em;
    padding-right: 2em;
    padding-left: 2em;
  }
}

.mid2-right {
  background-color: rgba(255,255,255,1);
  background: filter-gradient(#ffffff, #ededed, horizontal);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 6fr;
  grid-template-areas: "."
                       ".";
  justify-content: center;
  align-items: center;

  .tds_title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 0;

    img {
      max-width: 80px;
      max-height: 80px;
    }
  }

  .medium-posts {
    line-height: 1;
    padding: 15px;
    background: #fff;
    margin: -250px 10px 10px 10px;
    border-radius: 10px;
    display: flex;
  }

  @include phone {
    .medium-posts {
      margin: 0px 10px 10px 10px;
      padding: 15px;
      background: #fff;
      border-radius: 10px;
      display: flex;
    }
  }



  h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    padding: 10px;
    text-align: center;
  }
}

.bottom {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". .";
  height: 100vh;

  @include phone {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "."
                         ".";
    height: 200vh;
  }

  h2, h5, p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    padding: 10px;
    text-align: center;
  }
}

.bottom-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);

  h2, h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    padding: 10px;
    text-align: center;
  }


  button {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
}

.bottom-right {
  background: #333;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #222, #333);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #222, #333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  align-items: center;
  justify-content: center;

  h2, h5, p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
}
