  <nav>
      <div class="nav-wrapper">
        <ul id="nav-mobile" class="left">
            <a class="btn-floating btn-large waves-effect waves-light white navs"><i class="fa fa-envelope"></i></a>
            <a class="btn-floating btn-large waves-effect waves-light white navs"><i class="fa fa-medium" aria-hidden="true"></i></a>
            <a class="btn-floating btn-large waves-effect waves-light white navs"><i class="fa fa-github" aria-hidden="true"></i></a>
        </ul>
        <ul id="nav-mobile" class="right">
            <a class="btn-floating btn-large waves-effect waves-light white navs"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a class="btn-floating btn-large waves-effect waves-light white navs"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </ul>
      </div>
  </nav>


<div class="top">
  <div class="top-left">
    <h1>My Work</h1>
    <a class="btn-floating btn-large waves-effect waves-light grey darken-3"><i class="material-icons center">arrow_downward</i></a>
  </div>
  <div class="top-right">

  </div>
</div>

<div class="mid1">
  <div class="mid1-left">
  </div>
  <div class="mid1-right">
    <h2>Data Science Graduate School</h2>
    <h5>Current Master's Student at the CUNY School of Professional Studies</h5>
  </div>
</div>

<div class="mid2">
    <div class="mid2-left">
      <h2>Publications</h2>
      <h5>My Data Science Medium Articles</h5>
    </div>
    <div class="mid2-right">
    </div>
</div>

<div class="breaker">

</div>

<div class="bottom">
    <div class="bottom-left">
      <h2>Connect</h2>
      <h5>Here are some of my data stories and visualizations</h5>
    </div>
    <div class="bottom-right">
      <div class="col s10 form-div">
        <h2>Want to Collaborate?</h2>
        <p>Please send me an e-mail if you are interested in collaborating on a project or have an idea for a data visualization or analysis.</p>
        <form class="col s8">
          <div class="row">
            <div class="input-field col md8">
              <input id="email" type="email" class="validate">
              <label for="email">Email</label>
            </div>
          </div>
        </form>
      </div>
    </div>
</div>

<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Hire Me</h5>
          <p>I'm available for freelance work and full-time employment.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Find my work on</h5>
          <ul>
            <li><a href="#!">Github</a></li>
            <li><a href="#!">Medium</a></li>
            <li><a href="#!">RPubs</a></li>
            <li><a href="#!">Twitter</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
       © 2020 Zach Alexander. All rights reserved.
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
