<app-navbarxhome></app-navbarxhome>

<h1 class="page-title">Projected temperature warming <br/> in the 21st Century <br /> under two different worlds</h1>

<div class="top-summary">
  <p>In 2000 the  <a href="https://www.ipcc.ch/" target="_blank">Intergovernmental Panel on Climate Change (IPCC)</a> released emission scenarios to be used for 
    driving global circulation models (GCMs). The outputs from these GCMs gave scientists the ability to map possible 
    climate change outcomes and determine the likely effects of policy action (or inaction) on 
    global temperatures in the new century. This process is outlined in great detail in the <a href="https://www.ipcc.ch/site/assets/uploads/2018/03/sres-en.pdf" target="_blank">
    IPCC Special Report</a>.
  </p>
  <p>The following set of visualizations utilize temperature data derived from two GCMs, aggregated to the 
    country level for the four remaining, 20-year time intervals in the 21st century. The ensemble data 
    depict the median range of model outputs run under two different IPCC scenarios, "A2" and "B1", and 
    the change in temperature calculated for each month have been averaged per country across the four time 
    periods.</p>
  <p> For more information about the data used in this analysis, please visit the World Bank's data repository and
    <a href="http://data.worldbank.org/developers/climate-data-api" target="_blank">Climate Data API</a>. Additionally, if you are interested in the code used to develop these visualizations, feel free to check it out on 
    my <a href="https://github.com/zachalexander/data608_cuny/tree/master/FinalProject" target="_blank">Github</a>.</p>
</div>

<h2 class="section-title">Comparing the two models</h2>
<p class="summary">
  The IPCC devised four diverging storylines for the way humans will handle climate change in the years to 
  come. We examine two very different storylines below. By hitting the "play" button, you can examine the 
  predicted median changes in temperature (in &#176;F) for each country over the four remaining 20-year intervals 
  of this century. 
</p>
<div class="button-div">
  <button *ngIf="!scenarioAtwo" mat-stroked-button color="warn" (click)="scenarioA2()">Scenario A2</button>
  <button *ngIf="scenarioAtwo" mat-flat-button color="warn">Scenario A2</button>
  <button *ngIf="!scenarioBone" mat-stroked-button color="warn" (click)="scenarioB1()">Scenario B1</button>
  <button *ngIf="scenarioBone" mat-flat-button color="warn">Scenario B1</button>
</div>

<div *ngIf="scenarioBone" class="scenario-div">
  <small class="scenario-description">
    <p><strong class="highlight-scenario">Scenario B1</strong>: Models temperature predictions from a <strong class="highlight">more integrated, ecologically friendly world </strong>based on:</p>
    <ul class="conditions">
      <li>Rapid economic growth, but with rapid changes towards a service and information economy.</li>
      <li>Population rising to 9 billion in 2050 and then declining.</li>
      <li>Reductions in material intensity and the <strong class="highlight">introduction of clean</strong> and <strong class="highlight">resource efficient technologies</strong>.</li>
      <li>An emphasis on <strong class="highlight">global solutions</strong> to <strong class="highlight">economic, social and environmental stability</strong>.</li>
    </ul>
  </small>
</div>

<div *ngIf="scenarioAtwo" class="scenario-div">
  <small class="scenario-description">
    <p><strong class="highlight-scenario">Scenario A2</strong>: Models temperature predictions from a <strong class="highlight">more divided world </strong> based on:</p>
    <ul class="conditions">
      <li>A world of <strong class="highlight">independently operating, self-reliant nations</strong>.</li>
      <li>Continuously increasing population.</li>
      <li>Regionally oriented economic development.</li>
      <li><strong class="highlight">High emissions</strong>.</li>
    </ul>
  </small>
</div>


<div id = 'title'>
  <p class="summary">Examine the projected change in temperature by 2100 based on <strong class="highlight">{{this.scenario}}</strong>:</p>
  <button *ngIf=!play (click)="playButton()" mat-mini-fab color="warn" id="play" aria-label="Example icon button with a menu icon">
    <mat-icon>play_arrow</mat-icon>
  </button>
  <button *ngIf=refresh (click)="refreshButton()" mat-mini-fab color="warn" id="refresh" aria-label="Example icon button with a menu icon">
    <mat-icon>refresh</mat-icon>
  </button>
 
  
</div>

<h2 class="title-tag">{{titleTag}}</h2>
<mat-slider min={{min}} max={{max}} step={{step}} value={{value}} tickInterval={{tickInterval}} disabled="false"  color="warn" (input)="pitch($event)"></mat-slider>
<img class="svg-tempscale" src='../assets/temp-scale-svg.svg'>
<div class = "world-map"></div>

<div class="top-ten">
  <h2 class="section-title">Which countries will experience the most warming by 2100?</h2>
  <p class="summary">Based on analysis of the temperature models, the median estimates predict the following countries will have the most warming by the next century:</p>
  <div class="bar-graphics">
    <h3 class="chart-title">Under Scenario A2</h3>
    <div class = "top10-a2"></div>
    <h3 class="chart-title">Under Scenario B1</h3>
    <div class = "top10-b1"></div>
  </div>
</div>

<div class="mid-summary">
  <p>From the model estimates above, as well as our projections of countries with the largest increases in temperature by 2100, 
    we can clearly see that the two scenarios yield very different estimations. With a more integrated, ecologically friendly world,
    the IPCC suspects that temperature increases globally will be substantially smaller. Additionally, the unequal warming of the planet,
    which could be exacerbated by a more divided world, could be mitigated if more robust measures are put into place in the near future.
  </p>
</div>

<div class="geopolitics">
  <h2 class="section-title">What a warming planet means for a few nations</h2>

  <div class="third-summary">
    <p>We unfortunately are already seeing lasting effects of warming temperatures on crucial ecosystems and wildlife
      across the globe. And, although this analysis does not cover the impact these effects are currently
      having on millions of other species and habitats that cohabit the planet, humans will increasingly be impacted by 
      these mass extinctions and alterations to our neighboring flora and fauna.  
    </p>
    <p>From an anthropological perspective, warming temperatures will start to weigh heavily on geo-political maneuvers
      over the next half-century and will test the limits of the human ability to collaborate and evolve. A few nations listed below are likely to see large
      increases in temperature in the next 80 years, and their current diplomatic position with the rest of the world may be a key 
      driver in ultimately how far these temperatures swing in the 21st century. 
    </p>
  </div>

  <p class="summary">Click on a nation below to read more about what large increases in temperature could mean for the rest of
    the world:
  </p>
  <div class="country-wrapper">
    <div class = "russia-map" (click)="scrollDiv(target)"></div>
    <div class = "canada-map" (click)="scrollDiv(target)"></div>
  </div>

  <div class="country-wrapper">
    <div class = "us-map" (click)="scrollDiv(target)"></div> 
    <!-- <div class = "afghanistan-map" (click)="scrollDiv(target)"></div> -->
  </div>

  <div class = "geopolitics-display" #target>
    <div class="line-wrapper"></div>
    <div class="country-content">
      <div class = "canada-div">
        <div class="line-wrapper"></div>
        <h2 class="projection-country">Canada</h2>
        <p class="projection-title">Projected Temperature Change by 2100</p>
        <div class="projection-summary">
          <small class="projection-a2"><strong>Scenario A2:</strong> 10.15 &#176;F</small>
          <small class="projection-b1"><strong>Scenario B1:</strong> 6.37 &#176;F</small>
        </div>
        <p>
          As mentioned in <a href="https://www.klimatilpasning.dk/media/1154179/The%20geopolitics%20of%20CC.pdf" target="_blank">"The Geopolitics of Climate Change"</a>, by Peter Halden, apart from 
          widespread socioeconomic impacts of a warming Canadian province are the threats of
          "land grabs" spurred on by climate conflicts. With temperatures rising throughout a vast Canadian wilderness, thawing ice will expose land
          to valuable resources that could potentially lead to climate wars between Canada and Russia -- two competing enterprises for untouched land 
          to the north. Militarization of climate change is not out of the realm of possibility, and diplomatic moves in the near future could be the onset of this phenomenon.
        </p>
      </div>
      <div class = "russia-div">
        <div class="line-wrapper"></div>
        <h2 class="projection-country">Russia</h2>
        <p class="projection-title">Projected Temperature Change by 2100</p>
        <div class="projection-summary">
          <small class="projection-a2"><strong>Scenario A2:</strong> 11.49 &#176;F</small>
          <small class="projection-b1"><strong>Scenario B1:</strong> 6.90 &#176;F</small>
        </div>
        <p>
          Other than potential land disputes with Canada and other neighbors in the Arctic, according to <a href="https://foreignpolicy.com/2020/10/05/climate-geopolitics-petrostates-russia-china/" target="_blank">sources</a> , Russia already holds a large share of the world's natural gas market, which could likely increase
          as moves towards more sustainable forms of energy start to take shape. Natural gas is more low-carbon than oil, and it can also be converted to other fuels such as hydrogen. With such a large share of gas reserves,
          and strategic maneuvers to increase its dominance of the energy grid in the years to come, diplomatic relations between Russia and the rest of the world will be paramount. Russia has already had run-ins with other
          countries, including the United States, and this imbalance of resources could lead to further conflicts in the future.
        </p>
      </div>
      <!-- <div class = "afghanistan-div">
        <div class="line-wrapper"></div>
        <h2 class="projection-country">Afghanistan</h2>
        <p class="projection-title">Projected Temperature Change by 2100</p>
        <div class="projection-summary">
          <small class="projection-a2"><strong>Scenario A2:</strong> 9.49 &#176;F</small>
          <small class="projection-b1"><strong>Scenario B1:</strong> 5.58 &#176;F</small>
        </div>
        <p>
          According to <a href="https://www.nationalgeographic.com/science/2020/02/afghan-struggles-to-rebuild-climate-change-complicates/#:~:text=Afghanistan%20is%20one%20of%20the,Afghanistan%E2%80%94are%20set%20to%20worsen." target="_blank">National Geographic</a>
          Afghanistan is one of the most vulnerable countries in the world to climate change. Experts say drought, flood, avalanches, landslides, extreme weather, 
          mass displacement, conflict, and child marriage—all of which already plague Afghanistan—are set to worsen in the coming decades. Although Afghanistan is highlighted here, other Middle Eastern countries are also likely to experience similar
          challenges due to the unequal warming of our planet. This could lead to catastrophic shortages of food, water, and energy (particularly oil) that billions of people
          depend on around the world.
        </p>
      </div> -->
      <div class = "us-div">
        <div class="line-wrapper"></div>
        <h2 class="projection-country">United States of America</h2>
        <p class="projection-title">Projected Temperature Change by 2100</p>
        <div class="projection-summary">
          <small class="projection-a2"><strong>Scenario A2:</strong> 8.73 &#176;F</small>
          <small class="projection-b1"><strong>Scenario B1:</strong> 5.45 &#176;F</small>
        </div>
        <p>
          As one of the leading emitters of carbon, the United States will undoubtedly be one of the major players in climate change geopolitics in the 21st century. However, 
          from a diplomatic perspective, it will largely depend on the actions of the federal government. With the Trump Administration's recent departure from the Paris Climate Agreement in 2017,
          the nation has to rebuild partnerships that have been fostered in previous administrations in order to be viewed as a global leader in the effort. Will the United States seek to build ties with other
          countries to help create a more collaborative climate future? Or will there continue to be internal stalemates and partisanship around this issue?</p>
      </div>
    </div>
  </div>

  <div class="top-summary">
    <p>We all have a moral responsibility to take care of our planet. These global circulation models hold key information to our climate future as a species.
      Ultimately, the rate and degree of temperature shifts over the next 80 years will depend on our actions.
    </p>
  </div>

</div>

<app-footer></app-footer>