@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

  html, body {
    font-family: 'Montserrat', 'Roboto', 'Arial', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: "kern" 1;
    color: #333;
  }

  .page-title {
      display: flex;
      font-family: 'Inconsolata', 'Roboto', 'Arial', sans-serif;
      text-align: center;
      justify-content: center;
      font-weight: 500;
      font-size: 3.5em;
      line-height: 1.25em;
      color: #333;
      padding-top: 1.5em;
      padding-bottom: 1em;
      margin: 0 auto;
  }
  
  .top-summary, .mid-summary, .third-summary {
    display: flex;
    flex-direction: column;
    margin: 0 auto 2em auto;
    max-width: 700px;
    line-height: 2em;
    font-size: 1.15em;
    padding: 1em;
  }

  .strong-weight {
    font-weight: 500;
  }

  .scenario-div {
    margin: 2em auto 2em auto;
    display: flex;
    justify-content: center;
    max-width: 550px;
    padding: 2em;
    font-size: 1.25em;
    line-height: 1.5em;
    background: #fff;
    border: 1px solid #cccccc;
  }


  #title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 400px;
    margin: 0em auto 1em auto;
    padding: 1em;
  }

  .title-tag {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    font-size: 2em;
    color: #de2d26;
    font-weight: 800;
    font-family: 'Montserrat', 'Roboto', 'Arial', sans-serif;
  }

  .highlight {
    color: #de2d26;
  }

  .conditions {
    list-style-type: disc !important;
    list-style-position: outside !important;
  }

  ul {
    list-style-type: disc !important;
    list-style-position: outside !important;
  }

  .progress-bar {
    max-width: 400px;
    margin: auto;
  }

  .svg-tempscale {
    display: flex;
    margin: 0.5em auto;
    max-width: 450px;
  }

  .button-div {
    display: flex;
    margin: auto;
    justify-content: space-between;
    max-width: 250px;
  }

  button {
    box-shadow: none !important;
  }


  .mat-slider-horizontal {
    height: 48px;
    min-width: 250px;
    margin: 0 auto 2em auto;
    display: flex;
    max-width: 400px;
  }


.section-title {
  text-align: center;
  font-weight: 700;
  font-family: 'Montserrat', 'Roboto', 'Arial', sans-serif;
  padding: 1em;
  max-width: 650px;
  margin: auto;
}

.bar-graphics {
  max-width: 1200px;
  margin: auto;
}

.top10-a2, .top10-b1 {
    display: flex;
    justify-content: center;
    margin: auto;
}

.summary {
  margin: 0 auto 1.5em auto;
  max-width: 600px;
  padding: 1em;   
  line-height: 1.65em;
}

.chart-title {
  text-align: left;
  font-weight: 500;
  margin: 0 auto;
  color: #666666;
  max-width: 500px;
  padding-left: 1em;
  font-size: 0.95em;
}

.country-wrapper {
  display: flex;
  justify-content: space-evenly;
  max-width: 600px;
  margin: auto;
}

.line-wrapper {
  display: flex;
  justify-content: center;
  max-width: 700px;
  align-self: center;
}


.geopolitics-display {
  display: flex;
  justify-content: space-evenly;
  max-width: 1000px;
  margin: 2em auto;
  height: 370px;
  align-items: center;
  border: 1px solid #ddd;
}

.canada-div, .russia-div, .afghanistan-div, .us-div {
  padding: 2em;
  max-width: 500px;
}

.projection-country {
  font-weight: 600; 
  color: #333;
}

.projection-title {
  color: #666666;
  font-weight: 600;
  margin-bottom: 0.25em;
}
.projection-summary {
  display: flex;
  flex-direction: column;
  margin: 0.25em auto 1em auto;
  line-height: 1.5em;
}

.projection-a2 {
  color: #de2d26;
}

.projection-b1 {
  color: #fc9272;
}

.canada-div, .afghanistan-div, .russia-div, .us-div {
  display: none;
}

.country-content {
  p {
    line-height: 1.5em;
    font-size: 0.85em;
  }
}


@media only screen and (max-width: 600px) {
  .country-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: auto;
  }

  .geopolitics-display {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 2em auto;
    align-items: center;
    height: auto;
    border: none;
  }

  .mat-slider-horizontal {
    height: 48px;
    min-width: 250px;
    margin: 0 2em;
    display: flex;
    max-width: 400px;
  }
}