<div class="nystorm">  
  <div class="nyc_map">
    <app-ny-city-map *ngIf="nyCityMap" [data]="nyCityMap"></app-ny-city-map>
  </div>
</div>

<h5>{{random}}</h5>
<h5>{{tweet}}</h5>
<img [src]='url'>
{{url}}

<!-- <a class="twitter-timeline" 
[href]="'https://twitter.com/' + user" 
data-chrome="nofooter noborders"
data-tweet-limit="1"></a> -->
  
<div class = "nystorm">
    <div class="line_chart">
      <app-line-area-chart *ngIf="dates" [data]="dates"></app-line-area-chart>
    </div>
</div>

<div class="nystorm">  
  <h5><strong>New York State:</strong>  <strong class="callout"> Confirmed Cases</strong></h5>
  <h3 class = "tweetcounter">
    {{nyLatest | number}}
  </h3>
  <small class = "update">
Last updated on: {{virusLastUpdate | date: 'MMMM d':'+0000'}} at {{virusLastUpdate | date: 'mediumTime':'+0000'}}</small>
  <div class="ny_map">
    <div id="tooltip">
      <div id="value"></div>
    </div>
    <app-ny-state-map *ngIf="nyStateMap" [data]="nyStateMap"></app-ny-state-map>
  </div>
</div>





<!--

<hr>

<div class = "tweetstorm">
  <div>
    <h5>A sample of <strong>coronavirus</strong> tweets <br> across the country since <br> noon on Friday, March 13th</h5>
    <h1 class = "tweetcounter">
      {{(tweets | async).length}}
    </h1>
    <small class = "update" *ngFor="let x of tweetrecent | async; let i=index">
      Last updated on: {{x.date | date: 'MMMM d'}} at {{x.date | date: 'mediumTime'}}</small>

  </div>
  <hr>
  <div class="latest_tweet">
    <img src='../../../assets/tweets_img1.png'>
    <small class="latest_tweet_text" *ngFor="let x of tweetrecent | async; let i=index"> {{x.tweetText}}</small>
  </div>
  <hr>
    <div class="container">
      <div class = "graphic">
      </div>
    </div>
</div>
-->
