<div class = "nystorm">
  <h4><strong>New York State:</strong>  <strong class="callout"> Confirmed Cases</strong></h4>
      <h3 class = "tweetcounter">
        {{nyLatest | number}}
      </h3>
      <small class = "update">
    Last updated on: {{virusLastUpdate | date: 'MMMM d'}} at {{virusLastUpdate | date: 'mediumTime'}}</small>
      <div class="container">
        <div class = "nygraphic">
        </div>
      </div>
</div>

<hr>

<div class = "tweetstorm">
  <div>
    <h5>A sample of <strong>coronavirus</strong> tweets <br> across the country since <br> noon on Friday, March 13th</h5>
    <!--<h1 class = "tweetcounter">
      {{(tweets | async).length}}
    </h1>-->
    <small class = "update" *ngFor="let x of tweetrecent | async; let i=index">
      Last updated on: {{x.date | date: 'MMMM d'}} at {{x.date | date: 'mediumTime'}}</small>

  </div>
  <hr>
  <div class="latest_tweet">
    <img src='../../../assets/tweets_img1.png'>
    <small class="latest_tweet_text" *ngFor="let x of tweetrecent | async; let i=index"> {{x.tweetText}}</small>
  </div>
  <hr>
    <div class="container">
      <div class = "graphic">
      </div>
    </div>
</div>
