.tweetstorm {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    text-align: center;
    justify-items: center;
    height: 100vh;
}

.tweetcounter {
    font-size: 4.5em;
    font-weight: 700;
}

.update {
  color: darkred;
}

.latest_tweet_text {
  margin-left: -25px;
}
