<h6 class="_backlink"><a routerLink=''>Back to home</a></h6>
<h2 class="main_title">How Well Does Our Value-Based Model Perform <br> in the 2016 Presidential Election?</h2>

<div class="article">
  <p>
  We created a predictive model that calculates the proportion of votes for Donald Trump in the 2016 election based on responses
  to a select number of value-based questions from the American Values Survey, administered by the
  <a href = "https://www.prri.org/data-vault/" target="_blank">Public Religion Research Institute (PRRI)</a> in 2017.
  </p>

  <p>This map below shows our model calculations relative to the actual 2016 election percentages by U.S. state: </p>
</div>

<div id="tooltip">
  <span id="value"></span>
</div>

<div class="container">
  <div class = "graphic">
  </div>
</div>

<div class="article">
  <p>You can read about the methodology, analysis, and data manipulation behind the regression model in more detail <a href="http://rpubs.com/zachalexander/fnl-proj" target="_blank">
    on my RPubs account.</a>
  </p>

  <p>
    To increase the performance of our model, we had to remove residuals that were outliers. Therefore, you'll notice that a few states, including
    California, Maryland, Montana, Oklahoma, North Dakota, Hawaii, and Alaska will not have model calculations. We'll look to hone in even further on the diagnostics
    in an attempt to alleviate the high residual values in these states' predictions. However, in the meantime, we'll have to leave these states out of our analysis.
  </p>
  <br>
  <h4>Questions from the survey that showed high predictive capacity</h4>
  <hr>
  <p>
      Surveyors asked a series of questions related to individuals' perceptions of various values. Conveniently, the U.S. state of residence was also collected
      for each respondent. Therefore, we were eventually able to map responses on a state-wide level, and to build our model based on these factors. Through
      <a href="https://en.wikipedia.org/wiki/Stepwise_regression" target="_blank">stepwise regression</a> using backward elimination, we were able to create
      a pretty reliable model, with an R-square value of around 0.87 -- meaning that about 87% of the variability in the proportion of voters that voted for
      Donald Trump in 2016 by state, can be attributed to the variables included in our model.
  </p>
  <p>The following questions and their corresponding variables were included in our value-based model: </p>
  <h5>Do you strongly favor, favor, oppose, or strongly oppose...</h5>
  <div class="container">
    <li>Allowing	gay	and	lesbian	couples	to	marry	legally?</li>
    <li>Allowing	a	small	business	owner	in	your	state	to	refuse	to	provide	products or	services
      to	gay	or	lesbian	people,	if	doing	so	violates	their	religious	beliefs?</li>
    <li>Building a wall along the U.S. border with Mexico?</li>
    <li>Allowing illegal immigrants brought to the U.S. as children to gain legal resident status if they join the military or go to college? </li>
  </div>
  <hr>
  <h5>Do you completely agree, mostly agree, mostly disagree, or completely disagree...</h5>
  <div class="container">
    <li>America today sets a good moral example for the world?</li>
    <li>Professional athletes should be required to stand during the national anthem at sporting events?</li>
  </div>
  <hr>
  <h5>Do you think that the following should be the highest priority, high but not highest priority, or lower priority?...</h5>
  <div class="container">
    <li>Enacting stricter gun control laws.</li>
    <li>Reducing health care costs.</li>
    <li>Changing the federal income tax system to make it more fair.</li>
  </div>
  <hr>
</div>
<br>
<div class="article">
  <h4>The Takeaway</h4>
  <p>
    Elections often come down to the wire and are decided by a relatively small number of votes. Candidates spend millions of dollars on
    polling to get an idea of just how tight these margins are. We aimed to create a model that could predict polling preferences based on
    a select number of questions pertaining to major policy points and diversity. From a statistical point of view, the final result was a
    fairly strong model with an R-squared above <strong>0.85</strong>. This is a prime example, however, of a case where the margins in the real world are
    much finer than in the mathematical world. The residuals of our model at times approached 0.1, which would mean a miscalculation of the
    amount of votes Trump would get by 10%. 10% is the difference between a close race and a landslide.
  </p>

  <p>
    While working through this process, we were able to examine values that seemed to be quite predictive of favoring votes for a particular candidate.
    For instance, it is interesting that responses to questions related to gun control, health care, our tax system, immigration, and building a wall
    along the southern border with Mexico all made it into our model. These topics have been at the forefront of the Trump campaign and his time in office.
  </p>

  <p>
    When thinking about building out a similar model to predict the votes garnered by Hillary Clinton, we could re-examine these values that
    showed to be quite predictive of votes for Trump, and see if values outside the scope of this project could be added in later on
    that tend to hold more weight among left-leaning voters than right-leaning voters.
  </p>

  <p>
    As mentioned at the outset, this election proved to be a very polarizing one, with people claiming at times that they would vote <strong>against</strong> a
    particular candidate instead of voting <strong>for</strong> one. The long list of values that make up our final model prove that this is true, given that
    there were ample opportunities for voters to project why they felt their candidate was the right choice to lead the United States.
  </p>
</div>
<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Hire Me</h5>
          <p>I'm available for freelance work and full-time employment.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Find my work on</h5>
          <ul>
            <li><a href="#!">Github</a></li>
            <li><a href="#!">Medium</a></li>
            <li><a href="#!">RPubs</a></li>
            <li><a href="#!">Twitter</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
       © 2020 Zach Alexander. All rights reserved.
      </div>
    </div>
</footer>

