/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
}

nav {
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
  box-shadow: none !important;
  position: fixed !important;


  a {
    color: #343a40 !important;
    margin: 0;
    border-radius: 0 !important;
  }

  i {
    color: #343a40!important;
  }

  a:hover {
    text-decoration: none !important;
  }
}

.square-btn {
  height: 4em !important;
  color: #333;
  font-weight: 700;
  font-size: 20px;
  background-color: transparent !important;
  border: 3px solid #333;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.page-footer {
  background-color: #E4E4E1;
  background-image: radial-gradient(at top center, rgba(255,255,255,0.03) 0%, rgba(0,0,0,0.03) 100%), linear-gradient(to top, rgba(255,255,255,0.1) 0%, rgba(143,152,157,0.60) 100%);
    background-blend-mode: normal, multiply;

  * {
    color: #333 !important;
  }
}
