/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Eczar|Gentium+Basic|Libre+Baskerville|Libre+Franklin|Proza+Libre|Rubik|Taviraj|Trirong|Work+Sans&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
}

nav {
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
  box-shadow: none !important;
  position: fixed !important;


  a {
    color: #404651 !important;
  }

  i {
    color: #404651 !important;
  }

  a:hover {
    text-decoration: none !important;
  }
}

.page-footer {
  background-color: #fdf9f3 !important;
  font-family: 'Rubik', sans-serif;

  * {
    color: #404651 !important;
  }
}
