    
#tooltip {
    width: 200px;
    margin: 2em auto 0 auto;
    padding: 1em;
    border: 1px dashed #333;
}

.tooltip_header {
    background-color: #3333339c;
    color: #fff;
    padding: 0.5em;
    font-size: 0.95em;
    font-weight: 700;
}

.tooltip_cases {
    font-size: 0.85em;
    font-weight: 700;
}

.case_highlight {
    font-weight: 700;
    color: darkred;
    align-self: center;
    margin: 0 5px 0 0;
}

.tool_wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#unselected {
    z-index: 1;
}

#pathSelection {
    z-index: 1000;
}