<div class="wrapper">
  <div class="sidebar-wrapper">
      <div class="profile-container">
          <h1 class="name">Zach Alexander</h1>
          <h3 class="tagline">Senior Research and Data Associate</h3>
      </div><!--//profile-container-->

      <div class="contact-container container-block">
        <h2 class="container-block-title">Contact</h2>
          <ul class="list-unstyled contact-list">
              <li class="email"><i class="fa fa-envelope"></i><a href="mailto: alexander.d.zachary@gmail.com">alexander.d.zachary</a></li>
              <li class="phone"><i class="fa fa-phone"></i><a href="tel:410-790-0174">(410) 790-0174</a></li>
              <li class="linkedin"><i class="fa fa-linkedin"></i><a href="https://www.linkedin.com/in/zaalexander" target="_blank">linkedin/zaalexander</a></li>
              <li class="medium"><i class="fa fa-medium"></i><a href="https://medium.com/@zdalexander" target="_blank">medium/@zdalexander</a></li>
              <li class="github"><i class="fa fa-github"></i><a href="https://github.com/zachalexander" target="_blank">github/zachalexander</a></li>
              <li class="twitter"><i class="fa fa-twitter"></i><a href="https://twitter.com/zdalexander" target="_blank">@zdalexander</a></li>
          </ul>
      </div><!--//contact-container-->
      <div class="education-container container-block">
          <h2 class="container-block-title">Education</h2>
          <div class="item">
              <h4 class="degree">M.S. in Data Science</h4>
              <h5 class="meta">CUNY School of Professional Studies</h5>
              <div class="time">2019 - 2021</div>
          </div><!--//item-->
          <div class="item">
              <h4 class="degree">B.A. in Biology</h4>
              <h5 class="meta">St. Mary's College of MD</h5>
              <div class="time">2008 - 2012</div>
          </div><!--//item-->
      </div><!--//education-container-->

  </div><!--//sidebar-wrapper-->

  <div class="main-wrapper">

      <section class="section summary-section">
          <h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
          <hr>
          <div class="summary">
              <p class="resume-bold"> You can <a class = "publications" href="assets/resume/zach-resume.pdf" target="_blank">download a PDF version of my resume/CV here</a>.</p><p>
                I've worked in the non-profit and for-profit sectors over the past eight years to gain a better understanding of how data can be used to inform effective practices across different sectors of society. My scientific background has allowed me to conduct climate change research in the U.S. and abroad, during which I became particularly interested in communicating statistical information to the general public. This led to my AmeriCorps service in Boston where I analyzed district-wide data from Boston Public Schools and collaborated with officials in an effort to lower high school dropout rates.
                <br><br>
                Currently, I work as a Senior Research and Data Associate at the Center for Court Innovation (CCI), a nonprofit focused on helping create a more effective and humane justice system. Each day, I work with data that has the capacity to give us insights into our judicial system, whether it be through monitoring housing court cases in Harlem or predicting the success of social programs on recidivism rates throughout the city - my goal is to utilize this information to make the process better and fairer for those involved and to help officials provide alternatives to jail when sentencing defendants for minor crimes. 
              </p>
          </div><!--//summary-->
      </section><!--//section-->

      <section class="section experiences-section">
          <h2 class="section-title"><i class="fa fa-bar-chart"></i>Data Science & Research Experience</h2>
          <div class="company"><a class="company-header" href="https://www.courtinnovation.org/about/people/zachary-alexander" target="_blank">Center for Court Innovation (CCI),</a> New York, NY</div>
          <div class="item">
              <div class="meta">
                  <div class="upper-row">
                      <h3 class="job-title">Senior Research and Data Associate</h3>
                      <div class="time">May 2019 - Present</div>
                  </div><!--//upper-row-->
              </div><!--//meta-->
              <div class="details">
                <ul class="fa-ul">
                  <li><i class="fa-li fa fa-angle-right"></i>Design and conduct special research projects for New York City's first Felony Court Alternatives to Incarceration (ATI) program
                  to evaluate program and policy success using inferential statistics and qualitative coding techniques.</li>
                  <li><i class="fa-li fa fa-angle-right"></i>Create and present data visualizations to justice-system stakeholders and CCI operating project staff using Tableau.</li>
                  <li><i class="fa-li fa fa-angle-right"></i>Develop R scripts and automation techniques to track New York City Housing Authority (NYCHA) repair compliance for more than 1,500 housing court cases throughout East Harlem since early 2018.</li>
                  <li><i class="fa-li fa fa-angle-right"></i>Conduct N-gram analyses of case manager notes to identify trends in interactions with defendants and tenants.</li>
                  <li><i class="fa-li fa fa-angle-right"></i>Oversee regular data extractions (SQL), coding, cleaning and analysis of data from large databases (i.e. Oracle).</li>
                  <li><i class="fa-li fa fa-angle-right"></i>Serve as Principle Investigator on an ongoing study of 150+ Brooklyn Criminal Court defendants' perceptions of the criminal justice system
                  to improve the misdemeanor arraignment process. Presented initial findings at the American Societ of Criminology Conference (November 2019).</li>
                  <li><i class="fa-li fa fa-angle-right"></i>Supervise and train a Junior Research and Data Associate on the Data Analytics and Applied Research Team to strengthen data capacity at 
                  Midtown Community Court and Harlem Community Justice Center.</li>
                  <li><i class="fa-li fa fa-angle-right"></i>Train members of the Data Analytics and Applied Research team on key concepts of SQL and R to streamline data extraction, manipulation, cleaning, and analysis.</li>
                </ul>
              </div><!--//details-->
              <br>
              <div class="meta">
                  <div class="upper-row">
                      <h3 class="job-title">Research and Data Associate</h3>
                      <div class="time">April 2018 - May 2019</div>
                  </div><!--//upper-row-->
              </div><!--//meta-->
              <div class="details">
                <ul class="fa-ul">
                  <li><i class="fa-li fa fa-angle-right"></i>Produced statistical reports on program volume, service linkages, and compliance rates for diversion and ATI programs.</li>
                  <li><i class="fa-li fa fa-angle-right"></i>Built data capacity at Midtown Community Court and Harlem Community Justice Center via collaboration with senior staff.</li>
                  <li><i class="fa-li fa fa-angle-right"></i>Designed and conducted special research projects involving both qualitative and quantitative methodologies in collaboration with
                  senior research and program staff focused on procedural justice and community engagement.</li>
                </ul>
              </div><!--//details-->
          </div><!--//item-->
          
          <hr>
          <div class="company"><a class="company-header" href="http://cep.org/people/zach-alexander-2/" target="_blank">Center for Effective Philanthropy (CEP),</a> Cambridge, MA</div>
          <div class="item">
              <div class="meta">
                  <div class="upper-row">
                      <h3 class="job-title">Senior Research Analyst</h3>
                      <div class="time">August 2017 - Present</div>
                  </div><!--//upper-row-->
              </div><!--//meta-->
              <div class="details">
                <ul class="fa-ul">
                  <li><i class="fa-li fa fa-angle-right"></i>Work within SPSS, SQL, and R to analyze large-scale quantitative and qualitative datasets, using inferential statistics and qualitative coding techniques.</li>
                  <li><i class="fa-li fa fa-angle-right"></i>Lead SQL trainings for internal staff on query syntax, transactions, and stored procedures.</li>
                  <li><i class="fa-li fa fa-angle-right"></i>Contribute to the publication of 7+ CEP research reports from 2016 through 2018 (<a class = "publications" href="http://cep.org/research/publications/" target="_blank">view our publications</a>).</li>
                  <li><i class="fa-li fa fa-angle-right"></i>Lead survey administration and data collection processes for CEP's ongoing research.</li>
                  <li><i class="fa-li fa fa-angle-right"></i>Produce clear and compelling content for research reports, highlighting findings and recommendations drawn from analysis.</li>
                </ul>
              </div><!--//details-->
              <br>
              <div class="meta">
                  <div class="upper-row">
                      <h3 class="job-title">Research Analyst</h3>
                      <div class="time">October 2015 - August 2017</div>
                  </div><!--//upper-row-->
              </div><!--//meta-->
              <div class="details">
                <ul class="fa-ul">
                  <li><i class="fa-li fa fa-angle-right"></i>Used python, SQL, and Microsoft Excel to clean and combine 20,000+ grantee responses, storing data in CEP's robust dataset of over 400,000 individuals.</li>
                  <li><i class="fa-li fa fa-angle-right"></i>Selected internally to lead the survey administration process for CEP's largest assessment tool, <a class = "publications" href="http://cep.org/assessments/grantee-and-applicant-perception-reports/" target="_blank">the Grantee Perception Report (GPR)</a>.</li>
                  <li><i class="fa-li fa fa-angle-right"></i>Coordinated and managed the launch of 70+ surveys to funders throughout 2016 and 2017.</li>
                  <li><i class="fa-li fa fa-angle-right"></i>Worked with 18 individual funders (with assets of $5M or more) to help measure their grantee feedback. Produced reports, communicated directly with clients, and supported presentations to foundation boards, CEOs, and staff.</li>
                  <li><i class="fa-li fa fa-angle-right"></i>Actively contributed to team discussions, collaborated on cross-team projects, and helped to develop CEP’s internal knowledge base and operations.</li>
                </ul>
              </div><!--//details-->
          </div><!--//item-->
          <hr>
          <div class="company"><a class="company-header" href="https://www.dragonsearch.com/" target="_blank">DragonSearch Digital Marketing,</a> Kingston, NY</div>
          <div class="item">
              <div class="meta">
                  <div class="upper-row">
                      <h3 class="job-title">Digital Advertising Team Member</h3>
                      <div class="time">March 2015 - October 2015</div>
                  </div><!--//upper-row-->
              </div><!--//meta-->
              <div class="details">
                <ul class="fa-ul">
                  <li><i class="fa-li fa fa-angle-right"></i>Managed client accounts for Web/Google Analytics, Conversion Rate Optimization, Pay Per Click Advertising, Search Engine Marketing, Google Adwords adjustments, Remarketing, and Online Lead Generation.</li>
                  <li><i class="fa-li fa fa-angle-right"></i>Maintained client marketing and digital advertising budgets and relations.</li>
                </ul>
              </div><!--//details-->
          </div><!--//item-->
          <hr>
          <div class="company"><a class="company-header" href="http://evfs.ites.upr.edu/" target="_blank">University of Puerto Rico,</a> Rio Piedras, Puerto Rico</div>
          <div class="item">
              <div class="meta">
                  <div class="upper-row">
                      <h3 class="job-title">Research Assistant</h3>
                      <div class="time">September 2014 - December 2014</div>
                  </div><!--//upper-row-->
              </div><!--//meta-->
              <div class="details">
                <ul class="fa-ul">
                  <li><i class="fa-li fa fa-angle-right"></i>Researched and monitored the diversity and growth of over 10,000 native tropical trees through a National Science Foundation (NSF) grant to understand the effect of land use legacies and natural disturbance on tropical forest ecology and tree community composition.</li>
                  <li><i class="fa-li fa fa-angle-right"></i>Responsible for data entry and management of a Long-Term Ecological Research (LTER) database.</li>
                </ul>
              </div><!--//details-->
          </div><!--//item-->
          <hr>
          <div class="company"><a class="company-header" href="https://www.cityyear.org/boston" target="_blank">City Year Boston,</a> Boston, MA</div>
          <div class="item">
              <div class="meta">
                  <div class="upper-row">
                      <h3 class="job-title">School-Based Data VISTA Coordinator</h3>
                      <div class="time">July 2013 - July 2014</div>
                  </div><!--//upper-row-->
              </div><!--//meta-->
              <div class="details">
                <ul class="fa-ul">
                  <li><i class="fa-li fa fa-angle-right"></i>Collaborated with Boston Public School administration officials to identify and evaluate key trends in systems data across 10 district schools with the aim to lower high school dropout rates.</li>
                  <li><i class="fa-li fa fa-angle-right"></i>Analyzed qualitative and quantitative data for 745+ students at the John P. Holland Elementary School.</li>
                  <li><i class="fa-li fa fa-angle-right"></i>Provided and communicated data to multiple stakeholders at City Year Boston and its partners in the Boston Public School District.</li>
                </ul>
              </div><!--//details-->
          </div><!--//item-->

          <div class="item">
              <div class="meta">
                  <div class="upper-row">
                      <h3 class="job-title">City Year AmeriCorps Member</h3>
                      <div class="time">July 2012 - July 2013</div>
                  </div><!--//upper-row-->
              </div><!--//meta-->
              <div class="details">
                <ul class="fa-ul">
                  <li><i class="fa-li fa fa-angle-right"></i>Served as the Evaluation Coordinator at the Neighborhood House Charter School.</li>
                  <li><i class="fa-li fa fa-angle-right"></i>Collaborated on projects analyzing student state-wide test scores, attendance data, and coursework information.</li>
                  <li><i class="fa-li fa fa-angle-right"></i>Developed curriculum, taught, and led afterschool enrichment programs for underserved youth.</li>
                </ul>
              </div><!--//details-->
          </div><!--//item-->
          <hr>
          <div class="company"><a class="company-header" href="http://www.smcm.edu/" target="_blank">St. Mary's College of MD,</a> St. Mary's City, MD</div>
          <div class="item">
              <div class="meta">
                  <div class="upper-row">
                      <h3 class="job-title">Student Researcher</h3>
                      <div class="time">August 2011 - May 2012</div>
                  </div><!--//upper-row-->
              </div><!--//meta-->
              <div class="details">
                <ul class="fa-ul">
                  <li><i class="fa-li fa fa-angle-right"></i>Performed a year-long study to better understand the carbon sequestering potential of early successional forest types in Point Lookout State Park, MD.</li>
                  <li><i class="fa-li fa fa-angle-right"></i>Used linear regression analysis to determine proper field method techniques and estimated carbon sequestration through the use of allometric equations.</li>
                  <li><i class="fa-li fa fa-angle-right"></i>Senior Honor's Thesis: Forests as Carbon Sinks – Estimating Carbon Sequestration Across Successional Stages</li>
                </ul>
              </div><!--//details-->
          </div><!--//item-->
          <hr>
          <div class="company"><a class="company-header" href="https://fieldstudies.org/program/australia-semester/" target="_blank">The School For Field Studies,</a> Queensland, Australia</div>
          <div class="item">
              <div class="meta">
                  <div class="upper-row">
                      <h3 class="job-title">Student Researcher</h3>
                      <div class="time">January 2011 - May 2011</div>
                  </div><!--//upper-row-->
              </div><!--//meta-->
              <div class="details">
                <ul class="fa-ul">
                  <li><i class="fa-li fa fa-angle-right"></i>Conducted a directed research project estimating carbon sequestration of early successional rainforest trees in Queensland, Australia.</li>
                  <li><i class="fa-li fa fa-angle-right"></i>Compared the effectiveness of two different allometric equations for estimating carbon sequestration by tree seedlings to inform national carbon accounting models.</li>
                  <li><i class="fa-li fa fa-angle-right"></i>Contributed to a publication (<a class = "publications" href="assets/images/Preece_et_al_2015.pdf" target="_blank">Preece et al. 2015</a>) addressing climate change mitigation policies in which farmers can utilize carbon credits that accurately account for young seedlings in above-ground biomass calculations.</li>
                </ul>
              </div><!--//details-->
          </div><!--//item-->
      </section><!--//section-->

      <section class="section projects-section">
          <h2 class="section-title"><i class="fa fa-black-tie"></i>Internships</h2>
          <hr>
          <div class="company"><a class="company-header" href="http://www.ecologic.org/" target="_blank">Ecologic Development Fund,</a> Cambridge, MA</div>
          <div class="item">
              <div class="meta">
                  <div class="upper-row">
                      <h3 class="job-title">Communications Intern</h3>
                      <div class="time">May 2012 - August 2012</div>
                  </div><!--//upper-row-->
              </div><!--//meta-->
              <div class="details">
                <ul class="fa-ul">
                  <li><i class="fa-li fa fa-angle-right"></i> Generated written content for the <a class = "publications" href="http://www.ecologic.org/" target="_blank">Ecologic website</a> covering topics of agroforestry, REDD+, climate change, and deforestation.</li>
                </ul>
              </div><!--//details-->
          </div><!--//item-->
          <hr>
          <div class="company"><a class="company-header" href="https://www.leidos.com/" target="_blank">Leidos,</a> Aberdeen, MD</div>
          <div class="item">
              <div class="meta">
                  <div class="upper-row">
                      <h3 class="job-title">Communications Intern</h3>
                      <div class="time">June 2011 - January 2012</div>
                  </div><!--//upper-row-->
              </div><!--//meta-->
              <div class="details">
                <ul class="fa-ul">
                  <li><i class="fa-li fa fa-angle-right"></i>Provided briefing and meeting support for the United States Army Chemical Materials Agency (CMA).</li>
                  <li><i class="fa-li fa fa-angle-right"></i>Conducted primary research of industry best practices in project and contract management.</li>
                </ul>
              </div><!--//details-->
          </div><!--//item-->
      </section>


  </div><!--//main-body-->
</div>